header {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    color: rgb(13, 8, 65);
    font-family: "arial";
    font-size: 50px;
    position: left;

}

nav {
    flex-wrap: wrap;
    text-align: right;
    padding: 20px;
    font: rgb(13, 8, 65);
    display: flex;
    flex-direction: row;
    font-family: "arial";
    position: right;

}

header nav p{
    text-align: justify;

}


.aboutme {
    border-style: outset;
    padding: 10px;
}

.work {
    border-style: outset;
    padding: 10px;
}

.resume {
    border-style: outset;
    padding: 10px;
}

.contact {
    border-style: outset;
    padding: 10px;

}